Mobile Apps/Driver/Driver/Configuration/configurationSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="configurationSchema"
    targetNamespace="http://tempuri.org/configurationSchema.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/configurationSchema.xsd"
    xmlns:mstns="http://tempuri.org/configurationSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ipAddress" type="xs:string"></xs:element>
        <xs:element name="port" type="xs:integer"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
